<%- include('../partials/font') %>
<%- include('../partials/style') %>
<body>
    <center><bigText>Hello user.</bigText></center>
    <center><slightlyBiggerText>Here is your ip:</slightlyBiggerText></center>
    <center><infoText>IP : <%= info.ip %></infoText></center>
</body>